extends layout



block content

  h1 #{title}

 

  //- p Math.sin () is applied to #{number1} is #{sin}

  p Math.pow() is applied to #{number2} is #{pow}

  p Math.sign () is applied to #{number3} is #{sign}

  p Math.tanh () is applied to #{number4} is #{tanh}

  p f{Math.trunc()} applied to #{number1} is #{trunc}